<div class="header">

</div>

<div class="content">
  <router-outlet></router-outlet>

  <div class="winnings">
    <h1>A szavazók között az alábbi nyereményeket sorsoljuk ki:</h1>

    <div class="items">
      <span>Fődíj: 1 db Jeep® Compass hétvégi tesztvezetés</span>
      <span>1 db Gold Russian Standard ital</span>
      <span>1 db Original Russian Standard ital</span>
      <span>3 db Prada Luna Rossa Black parfüm</span>
      <span>5 db Russian Standard italcsomag</span>
      <span>4 db negyedéves Playboy magazin előfizetés</span>
    </div>
  </div>

  <div class="supporters">
    <h1>Támogatónk:</h1>

    <img src="../assets/core/tamogato.svg" alt="">
  </div>
</div>

<div class="footer">
  <div class="left">
    <img class="logo" src="../assets/core/joylogo.svg">
    <span>Játékszabályzat</span>
  </div>

  <div class="right">
    ©2018 Joy. Minden jog fenntartva.
  </div>
</div>
